*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  color: #fff;
  background: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.container {
  width: 130rem;
  margin: 0 auto;
}
:root {
  --text-size-medium: 1.6rem;
}
.block__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  border-radius: 5rem;
  padding: 1rem 2rem;
  color: #fff;
}
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
  padding: 4rem 11rem 4rem 8rem;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__nav a {
  font-size: var(--text-size-medium);
  line-height: 150%;
}
.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}
.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-size: var(--text-size-medium);
  line-height: 150%;
}
.main-display {
  padding-top: 23rem;
}
.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}
.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-display__header {
  font-size: 6.4rem;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  max-width: 76rem;
  margin-bottom: 5rem;
}
.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}
.main-display__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-size: var(--text-size-medium);
  line-height: 150%;
}
.timer__item {
  width: 10.2rem;
  height: 11.2rem;

  background-color: #121212;
}
.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}
.timer__text {
  font-size: var(--text-size-medium);
  line-height: 140%;
  opacity: 0.4;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}
.work__wrap {
  display: flex;
}
.work__img {
  width: 52.5rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}
.work__text {
  max-width: 63.6rem;
  padding-top: 6.9rem;
}
.work__header {
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}
.work__description {
  font-size: var(--text-size-medium);
}
.process {
  position: relative;
  padding-bottom: 20rem;
}
.process .process__img {
  transform: rotate(45deg);
}
.process__img {
  width: 9rem;
  height: 4.5rem;
  margin-right: 2rem;
}
.process__header {
  margin-bottom: 4.9rem;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}
.process__title {
  display: flex;
}
.process__description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.process__columns {
  display: flex;
}
.process__columns::after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 31rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}
.process__item {
  max-width: 30.6rem;
}
.process__work {
  margin-bottom: 6.5rem;
  font-weight: 700;
  line-height: 140%;
  font-size: 36px;
}
.process__text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}
.command {
  padding-bottom: 20rem;
}
.command__title {
  margin-bottom: 11.9rem;
}
.command__header {
  margin-bottom: 0;
}
.command__wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}
.command__img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}
.command__name {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
}
.command__profession {
  margin-bottom: 3rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
}
.command__list {
  font-size: var(--text-size-medium);
  line-height: 150%;
  border: 0.1rem solid #ffffff;
}
.assembly {
  padding-bottom: 24.4rem;
}
.assembly__header {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.assembly__description {
  margin-bottom: 4.52rem;
  font-size: var(--text-size-medium);
  line-height: 140%;
}
.assambly__button {
  margin-bottom: 5.8rem;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-weight: 700;
  font-size: var(--text-size-medium);
  line-height: 140%;
}
.assambly__social {
  display: flex;
}
.assambly__item {
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assambly__item img {
  width: 50%;
  height: 50%;
}
.assambly__item:not(:last-child) {
  margin-right: 3rem;
}
